/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* Application-wide Styles */
h1 {
  color: #fff;
  font-family: Montserrat, sans-serif;
  font-size: 250%;
}

body {
  margin: 2em;
  background-color: #00B9FF
}

body, input[text], button {
  color: #125;
  font-family: Montserrat;
}
/* everywhere else */
* {
  font-family: Montserrat Alternates, sans-serif;
}
